
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap{
    background: url('https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=448&q=80');
    color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex: 1;
}
h1{
    position: absolute;
    margin: 0;
    height: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0 0 10px;
    color: brown;
}
p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    white-space: normal;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
    width: 350px;
}
.right{
    display: flex;
    flex: 1;
}
span{
    width: 400px;
    font-size: 50px;
    font-weight: bolder;
}
.left > p{
    font-size: 17px;
    width: 360px;
    color: rgb(168, 51, 51);
    font-family: system-ui;
}
.left>a>button{
    padding: 5px 10px;
background-color: blanchedalmond;
color: black;
font-weight: bold;
cursor: pointer;
border-radius: 2px;
border: none;
font-weight: bolder;
font-size: 15px;
transition: .5s;
}
.left>a>button:hover{
    color: red;
}