<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <title>wheater moniter</title>
</head>
<body>
   
    <div class="wrap">
        <h1>Windy</h1>
        <div class="container">
                <div class="left">

                  <span>Find your place Weather here,</span>
                  <p>
                    Weather apps enable users to get instant alerts regarding weather conditions.</p>
                 <a href="{{url_for('weather')}}"><button>Explore</button></a> 
                </div>
    <div class="right">
        <img src="https://www.transparentpng.com/thumb/weather-report/sun-cloud-rain-water-lightning-weather-report-png-0.png" alt="weather">
    </div>
</div>
   </div>
 </div>  

    
</body>
</html>