<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
    <title>Weather</title>
</head>
<body>
   

    <form method="POST" action="/weather">
        
        <input type="text"  id="countryInput" name="country" placeholder="Enter City..." value=""/>
        <input type="hidden" id="searchData" name="search_data" value=""/>
        <button type="submit">Search</button>
    </form>
    <div id="cityList" class="city">
        
    </div>
    
    <!-- <div class="wrap"> -->

        <div class="container">
            <div class="title">
                <h3>{{title}} {{con}} {{weathers}}</h3>
                
            </div>
            <div class="details">
                <div class="image">

                    <img src="https://www.transparentpng.com/thumb/weather/download-weather-png-26.png" alt="sun"/>
                    <span>{{desc}}</span>
                </div>
                <h2>{{deg}}°C</h2>
                <div class="det_1">

                    <span>wind:{{windspeed}}kmph</span>
                    <span>humidity:{{humidity}}</span>
                    <span>pressure:{{pressure}}</span>
                </div>
            </div>
            <div class="days">
                <div class="day1">
                    <p>Sat</p>
                    <span>image</span>
                    <p>14 °C</p>
                </div>
                <div class="day2">
                    <p>Sun</p>
                    <span>image</span>
                    <p>14 °C</p>
                </div>
                <div class="day3">
                    <p>Mon</p>
                    <span>image</span>
                    <p>14 °C</p>
                </div>
                <div class="day4">
                    <p>Tue</p>
                    <span>image</span>
                    <p>14 °C</p>
                </div>
                <div class="day4">
                    <p>Tue</p>
                    <span>image</span>
                    <p>14 °C</p>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <!-- <script>
        const countryInput = document.getElementById('countryInput');
        const cityList = document.getElementById('cityList');
    
        countryInput.addEventListener('input', () => {
            const inputValue = countryInput.value;
            fetch(`/filter?country=${inputValue}`)
                .then(response => response.json())
                .then(data => {
                    
                    cityList.innerHTML = '';
    

                    data.forEach(row => {
                        const city =row[1]
                        const listItem = document.createElement('button');
                        listItem.textContent = city;
                        cityList.appendChild(listItem);
                    });
                });
        });
    
    
        </script> -->
        <script>
            const countryInput = document.getElementById('countryInput');
            const searchDataInput = document.getElementById('searchData');
            
            countryInput.addEventListener('input', () => {
                searchDataInput.value = countryInput.value;
            });
        </script>
        
</body>
</html>